@media (hover: none) {
    .old__cursor__wrapper {
        display: none;
    }
}

@media (pointer: none) {
    .old__cursor__wrapper {
        display: none;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}