* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (hover: none) {
    .old__cursor__wrapper {
        display: none;
    }

    #penrose-svg, .sect {
        pointer-events: none;
    }
}

@media (pointer: none) {
    .old__cursor__wrapper {
        display: none;
    }

    #penrose-svg, .sect {
        pointer-events: none;
    }
}

@media (max-width: 991px) {
    .home__content .grads__list .grads__item:nth-child(3) {
        display: none;
    }

    .home__content .project__list .project__item:nth-child(3) {
        display: none;
    }
}

.disciplines__item:last-child .title.is--bullet {
    display: none;
}

.filter__item.is--selected .filter__dot {
    background-color: black;
}

.filter__dot {
    flex-shrink: 0;
}

.is--full .grads__item {
    opacity: 0;
}

.grad__discipline, .disciplines__wrapper {
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent);
    mask-image: linear-gradient(to right, black 85%, transparent);
}