* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (hover: none) {
    .old__cursor__wrapper {
        display: none;
    }

    #penrose-svg, .sect {
        pointer-events: none;
    }
}

@media (pointer: none) {
    .old__cursor__wrapper {
        display: none;
    }

    #penrose-svg, .sect {
        pointer-events: none;
    }
}

@media (max-width: 991px) {
    .home__content .grads__list .grads__item:nth-child(3),
    .home__content .project__list .project__item:nth-child(3),
    .profile__more .grads__list .grads__item:nth-child(3) {
        display: none;
    }
}

@media (hover: hover) {
    
    .project__link:hover ~ .container .link.hover--black,
    .grad__link:hover ~ .grad__info .link.hover--black,
    .project__thumbnail:hover ~ .container .link.hover--black,
    .profile__card:hover ~ .link.hover--black {
        border-bottom-color: black;
    }

    .project__link:hover ~ .container .link.hover--white {
        border-bottom-color: white;
    }

    .filter__item:hover, .toggle:hover, .sort__item:hover {
        opacity: 1;
    }

}

#penrose-svg {
    transform-origin: top left;
    pointer-events: all;
}

.home__content > .container {
    opacity: 0;
}

.slider {
    height: auto;
}

.wrapper[data-barba-namespace*="graduates"] .grads__item,
.wrapper[data-barba-namespace*="work"] .project__item {
    display: none;
    opacity: 0;
}

.sect {
    stroke: hsl(0, 0%, 30%);
    stroke-width: 1px;
    stroke-opacity: 0;
    fill-opacity: 0;
    pointer-events: all;
    cursor: pointer;
}

.project__hidden {
    display: none;
}

.disciplines__item:last-child .title.is--bullet {
    display: none;
}

.sort__item.is--selected {
    opacity: 1;
}

.filter__item.is--selected .filter__dot, .sort__item.is--selected .filter__dot {
    background-color: black;
}

.filter__dot {
    flex-shrink: 0;
}

.is--full .grads__item {
    opacity: 0;
}


.grad__discipline, .disciplines__wrapper, .is--ellipses {
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent);
    mask-image: linear-gradient(to right, black 85%, transparent);
}

.results__input {pointer-events: none;}

.tns__slider {
    overflow: hidden;
}

.tns__prev {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    cursor: pointer;
}

.tns__next {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    cursor: pointer;
}

.tns-outer > button {
    display: none;
}


.tns-nav {
    display: none;
}

.subtract--margin {
    margin-bottom: -200px;
}